<html>
<body>

<div class="col-md-12" style="margin-bottom: 10px">
    <div class="card" style="margin-bottom: 10px;">
        <div class="card-body">
            <h4 class="card-title">{{description}}</h4>
            <p>Intended Due Date: {{intendedDueDate}}</p>
            <p>Actual Completion Date: {{actualCompletionDate}}</p>
        </div>
    </div>
</div>
</body>
</html>